@import "~bootstrap/scss/bootstrap";

.nav {
	flex: 1;
}

.navList {
	@extend .nav;
}

.navItem {
	@extend .nav-item;
}

.navLink {
	@extend .nav-link;
	position: relative;
}

.navLinkDefault {
	color: var(--dark);
}

.navLinkActive {
	color: var(--primary);
}

.navLinkActive,
.navLink:active {
	color: var(--primary);
}

.navLinkIcon {
	height: 2em;
}

.navLinkIconDefault {
	fill: var(--dark);
}

.navLinkIconActive {
	fill: var(--primary);
}

.navLinkIconBlinking {
	animation: has-unread-messages 2s infinite linear;
}

.unreadCount {
	@extend .badge;
	position: absolute;
	top: 1em;
	left: 1em;
	font-size: 70%;
	background: var(--primary);
	color: var(--text-color);
}

@keyframes has-unread-messages {
	0% {
		fill: var(--info);
	}
	50% {
		fill: var(--dark);
	}
}
