@import "~bootstrap/scss/bootstrap";

.page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--bg);
	color: var(--text-color);

	--bg: var(--white);
	--text-color: var(--dark);
	--primary: var(--blue);
	--btn-text-color: var(--white);
	/* Chat messages */
	--bg-chat-message: var(--white);
	--text-color-chat-message: var(--dark);
	--bg-chat-message-self: var(--light);
	--text-color-chat-message-self: var(--gray-dark);
}

.page[data-theme="dark"] {
	/* General */
	--bg: var(--dark);
	--text-color: var(--light);
	--primary: var(--teal);
	--btn-text-color: var(--dark);
	/* Chat messages */
	--bg-chat-message: var(--gray-dark);
	--text-color-chat-message: var(--light);
	--bg-chat-message-self: var(--gray-dark);
	--text-color-chat-message-self: var(--light);
}
