@import "~bootstrap/scss/bootstrap";

.chatInputContainer {
	@extend .input-group;
	padding: 2%;
	display: flex;
	background-color: var(--bg-chat-message);
	flex: 1;
	position: relative;
}

.chatInputSendBtn {
	@extend .input-group-append, .btn, .btn-primary;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
