@import "~bootstrap/scss/bootstrap";

.chatInput {
	@extend .input-group;
	textarea {
		@extend .form-control;
	}
	.chatInputSendBtn {
		@extend .input-group-append;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
