@import "~bootstrap/scss/bootstrap";

.chatInputContainer {
	@extend .input-group;
	flex: 2;
	padding: 2%;
	display: flex;
}

.chatInputSendBtn {
	@extend .input-group-append, .btn, .btn-primary;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
