@import "~bootstrap/scss/bootstrap";

.chatInputText {
	@extend .form-control;
	flex: 5;
	border-radius: 0;
	background-color: var(--bg-chat-message);
	color: var(--text-color-chat-message);
}

.chatInputText:focus {
	background-color: var(--bg-chat-message-self);
	color: var(--text-color-chat-message-self);
}
