@import "~bootstrap/scss/bootstrap";

.chatEmojiMenuButton {
	@extend .input-group-prepend, .btn;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--text-color);
}

.chatEmojiMenuButtonActive {
	border: 1px solid var(--primary);
}

.chatEmojiMenuButtonIcon {
	fill: var(--text-color);
}

.chatEmojiMenuButtonIconActive {
	fill: var(--primary);
}
