@import "~bootstrap/scss/bootstrap";

.chatEmojiMenuButton {
	@extend .input-group-prepend, .btn;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--text-color);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	min-height: fit-content;
}

.chatEmojiMenuButtonActive {
	border: 1px solid var(--primary);
}

.chatEmojiMenuButtonIcon {
	fill: var(--text-color);
	height: 2em;
}

.chatEmojiMenuButtonIconActive {
	fill: var(--primary);
}
