@import "~bootstrap/scss/bootstrap";

.resetButton {
	@extend .btn, .btn-lg, .btn-block;
	background: var(--bg-reset-btn);
	color: var(--danger);
	border: 1px solid var(--danger);
	max-width: 100%;
	margin-top: 1em;
}

@media (min-width: 700px) and (orientation: landscape) {
}
