@import "~bootstrap/scss/bootstrap";

.resetButton {
	@extend .btn, .btn-lg, .btn-block;
	background: var(--bg-level-2);
	color: var(--danger);
	border: 1px solid var(--danger);
	position: absolute;
	bottom: 2%;
	width: 96%;
}
