@import "~bootstrap/scss/bootstrap";

.chatInputSendBtn {
	@extend .input-group-append, .btn;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--text-color);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.chatInputSendBtnIcon {
	fill: var(--text-color);
}
