@import "~bootstrap/scss/bootstrap";

.chatEmojiMenu {
	transition: all 0.4s ease-in;
	background: var(--bg);
	height: 250px;
	margin: 2% 2% 0 2%;
	position: absolute;
	top: -250px;
	left: 0;
	display: none;
	overflow: hidden;
}

.chatEmojiMenuOpen {
	display: block;
}

.chatEmojiTable {
	flex: 1;
}
