@import "~bootstrap/scss/bootstrap";

.chatEmojiMenu {
	@extend .m-3;
	transition: all 0.7s;
	background: var(--bg);
}

.chatEmojiMenuClosed {
	flex: 0;
	overflow: hidden;
}

.chatEmojiMenuOpen {
	flex: 10;
	overflow-y: scroll;
}

.chatEmojiTable {
	flex: 1;
}
