@import "~bootstrap/scss/bootstrap";

.chatEmojiMenu {
	transition: all 0.7s;
	background: var(--white);
}

.chatEmojiMenuClosed {
	flex: 0;
	overflow: hidden;
}

.chatEmojiMenuOpen {
	flex: 10;
	overflow-y: scroll;
}
