@import "~bootstrap/scss/bootstrap";

.settingsForm {
	flex: 11;
	padding: 2%;
}

.settingsForm input {
	@extend .form-control;
}

.radioGroup {
	@extend .input-group;
}

.formCheck {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	input {
		flex: 1;
	}
	label {
		flex: 1;
		margin: 0;
	}
}
