@import "~bootstrap/scss/bootstrap";

.settingsForm {
	flex: 11;
	padding: 2%;
	position: relative;
}

.settingsForm input[type="radio"] {
	@extend .form-control;
}

.radioGroup {
	@extend .input-group;
}

.formCheck {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	input {
		flex: 1;
	}
	label {
		flex: 1;
		margin: 0;
	}
}

@media (min-width: 700px) and (orientation: landscape) {
	.settingsForm {
		max-height: 100%;
		overflow-y: scroll;
		margin-top: 24px;
	}
}
