$input-height: 2em;

.chatInput {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.chatInput input {
	flex: 12;
	height: $input-height;
}

.chatInputSendBtn {
	flex: 1;
	height: $input-height;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
}
